@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    padding:100px;
  
}
.box .container .heading h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    position: relative;
    padding: 20px 0;
}
.box .container .heading p{
    text-align: center;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    position: relative;
    margin: 20px 0;
  
}
.box .container .heading p span{
    color: rgb(217, 26, 50);
    text-transform: capitalize;
    font-weight: 600;
  
}
.box .container .heading h1::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 45%;
    width: 10%;
    height: 10px;
    border-radius: 10px;
    background:rgb(217, 26, 50); 
}
.box .container .row {
   display: flex;
   justify-content: center;
   align-items: center;
    gap:6rem;
}
.box .container .row .testimonial{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
  
    text-transform: capitalize;
    padding: 20px 0;
    /* border: 2px solid red; */
    max-width: 250px;
    height: 390px;
   
}
.box .container .row .testimonial button{
    margin: 5px 0 0 0;
    padding: 3px 20px;
    background:rgb(217, 26, 50); 
    border:rgb(217, 26, 50); 
    border-radius: 2px;
    color: white;
}